@charset "UTF-8";
/* colors */
/* fuente tipo de letra*/
/* fuente tamaño de letras */
/*Fuente-icons*/
/*Densiddad de las fuentes*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.main {
  overflow: hidden;
}

.columna__33 {
  width: 30%;
}

.columna__25 {
  width: 24%;
}

.columna__50 {
  width: 49%;
}

.columna__75 {
  width: 74%;
}

/*Estilos del menu y navegador*/
.main-header {
  width: 100%;
  position: fixed;
  height: 80px;
  top: 0;
  z-index: 2000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  background: linear-gradient(#fff 0%, #f6f6f6 47%, gainsboro 100%);
}

.icon-menu {
  display: none;
  color: #dc143c;
  cursor: pointer;
  font-size: 30px;
  margin-right: 10px;
}

.logo {
  display: flex;
  align-items: center;
}
.logo .logo__img {
  height: 80px;
  width: 80px;
}
.logo .logo__texto {
  color: #dc143c;
  font-weight: bold;
  font-size: 30px;
}

.menu {
  position: relative;
  display: flex;
  transition: all 0.5s;
}
.menu .menu__content {
  display: flex;
}
.menu .menu__item {
  list-style: none;
  display: flex;
  align-items: center;
}
.menu .menu__link {
  height: 80px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  color: #dc143c;
  transition: all 0.1s;
}
.menu .menu__link:hover,
.menu .select {
  background-color: #dc143c;
  color: #ffffff;
}

@media screen and (max-width: 760px) {
  .icon-menu {
    display: block;
  }

  .menu {
    position: absolute;
    top: 80px;
    left: -100%;
    width: 100%;
  }
  .menu .menu__content {
    flex-direction: column;
    width: 100%;
  }
  .menu .menu__content .menu__item {
    width: 100%;
  }
  .menu .menu__content .menu__link {
    width: 100%;
    padding: 0;
    height: 50px;
    padding-left: 50px;
    color: #dc143c;
    background-color: #ffffff;
    font-weight: normal;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  }
  .menu .menu__content .menu__link:hover,
.menu .menu__content .select {
    background-color: #dc143c;
    color: #ffffff;
  }

  .mostrar {
    left: 0;
  }
}
/* main */
main {
  position: relative;
  top: 80px;
}

main .container {
  width: 90%;
  margin: auto;
}
main .container .grupo {
  padding: 20px 0;
}
main .container .grupo .grupo__titulo {
  width: 100%;
  text-align: center;
  font-size: 20px;
  color: #dc143c;
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #4b515d;
  font-weight: bold;
}
main .container .grupo .grupo__descripcion {
  width: 100%;
  text-align: center;
  font-size: 16px;
  color: #000000;
  padding: 10px 0;
  margin: 10px 0;
  border-bottom: 1px solid #4b515d;
}
main .container .grupo .grupo__contenido {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .container .grupo .grupo__contenido .columna {
  background: #fbfbfb;
  margin: 10px 0;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid rgba(0, 0, 0, 0.4);
  text-align: center;
  transition: all 0.2s;
}
main .container .grupo .grupo__contenido .columna .columna__titulo {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
main .container .grupo .grupo__contenido .columna .portaforlio__img {
  width: 100%;
  height: 350px;
  display: block;
}
main .container .grupo .grupo__contenido .columna .portaforlio__img .columna__img {
  width: 100%;
  height: 100%;
}
main .container .grupo .grupo__contenido .columna:hover {
  -webkit-box-shadow: 0 0px 15px 0.1px rgba(0, 0, 0, 0.7);
  box-shadow: 0 0px 15px 0.1px rgba(0, 0, 0, 0.7);
  -webkit-transform: scale(1.003);
  -ms-transform: scale(1.003);
  transform: scale(1.003);
}

.articulo .articulo__titulo {
  text-align: left;
}
.articulo .articulo__titulo .articulo__link {
  font-size: 18px;
  font-weight: bold;
  color: #dc143c;
  transition: all 0.5s;
}
.articulo .articulo__titulo .articulo__link:hover {
  text-decoration: underline;
}
.articulo .articulo__fecha {
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
  box-sizing: border-box;
  text-align: left;
}
.articulo .articulo__contenido {
  display: flex;
  margin-top: 10px;
}
.articulo .articulo__contenido .img__link {
  height: 150px;
  width: 250px;
}
.articulo .articulo__contenido .img__link .articulo__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.articulo .articulo__contenido .articulo__descripcion {
  width: 90%;
  text-align: left;
  padding: 0 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.articulo .articulo__contenido .articulo__descripcion .read__descripcion {
  font-weight: 500;
}
.articulo .articulo__contenido .articulo__descripcion .read__more {
  color: #dc143c;
  font-weight: bold;
  font-style: italic;
  transition: all 0.5s;
}
.articulo .articulo__contenido .articulo__descripcion .read__more:hover {
  text-decoration: underline;
}

.navigation__articulo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation__articulo .navigation__number {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dc143c;
  margin: 10px;
  color: #ffffff;
  font-size: 16px;
  border-radius: 50%;
  transition: hover 0.5s;
}
.navigation__articulo .navigation__number:hover {
  text-decoration: underline;
}

.follow .follow__titulo {
  font-weight: bold;
  color: #dc143c;
}
.follow .fb-page {
  margin-top: 10px;
}

.main-footer {
  position: relative;
  top: 80px;
  width: 100%;
  padding: 5px;
  background-image: radial-gradient(circle at 50% 50%, #fcfcfa 0, #eeeef1 50%, #e0e0e8 100%);
  z-index: 100;
  box-sizing: border-box;
}
.main-footer .footer__titulo-contenedor {
  display: flex;
  justify-content: flex-end;
  border-bottom: 1px solid #4b515d;
  padding: 5px;
  box-sizing: border-box;
}
.main-footer .footer__titulo-contenedor .main-footer__titulo {
  color: #dc143c;
  font-size: 20px;
  font-weight: bold;
}
.main-footer .datos-contenedor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
}
.main-footer .datos-contenedor .sociales {
  display: flex;
  width: 20%;
  justify-content: space-around;
}
.main-footer .datos-contenedor .sociales .sociales__link {
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  font-size: 16px;
  border-radius: 50%;
}
.main-footer .datos-contenedor .sociales .sociales__link.facebook {
  background-color: #3b5998;
}
.main-footer .datos-contenedor .sociales .sociales__link.twitter {
  background-color: #00acee;
}
.main-footer .datos-contenedor .sociales .sociales__link.youtube {
  background-color: #c4302b;
}
.main-footer .datos-contenedor .sociales .sociales__link.linkedin {
  background-color: #0e76a8;
}
.main-footer .datos-contenedor .datos {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}
.main-footer .datos-contenedor .datos a {
  color: #000000;
}

/*# sourceMappingURL=estilos.css.map */
