/* colors */

$primary-color: #dc143c;
$primary-color-opacity: rgba(220, 20, 60, 0.5);
$secondary-color: #aa66cc;
$secondary-color-dark: #9933cc;
$success-color: #00c851;
$success-color-dark: #007e33;
$danger-color: #ff4444;
$danger-color-dark: #cc0000;
$warning-color: #ffbb33;
$warning-color-dark: #ff8800;
$info-color: #33b5e5;
$info-color-dark: #0099cc;
$default-color: #2bbbad;
$default-color-dark: #00695c;
$elegant-color: #2e2e2e;
$elegant-color-dark: #212121;
$stylish-color: #4b515d;
$stylish-color-dark: #3e4551;
$unique-color: #3f729b;
$unique-color-dark: #1c2331;
$special-color: #37474f;
$special-color-dark: #263238;
$color-white:#ffffff;
$color-black:#000000;
$color-black-opacity:rgba(0, 0, 0, .3);
$color-black-opacity-full:rgba(0, 0, 0, .1);
$color-gradient:linear-gradient(#fff 0%, #f6f6f6 47%, gainsboro 100%);

/* fuente tipo de letra*/

$fuente-roboto: 'Roboto',
sans-serif;

/* fuente tamaño de letras */

$fuente-big:30px;
$fuente-titulo:20px;
$fuente-subtitulo:18px;
$fuente-texto:16px;
$fuente-alternativo:12px;
$fuente-minimo:10px;

/*Fuente-icons*/

$fuente-icon-big:22px;
$fuente-icon-medium:18 px;
$fuente-icon-small:14px;

/*Densiddad de las fuentes*/

$densidad-normal:normal;
$densidad-semibold: 500;
$densidad-bold:bold;