.slides {
    position: static;
    .slides-container {
        display: block;
        .slides__section {
            position: relative;
            .slides__contenido {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translateX(-50%) translateY(-50%);
                background-color: $color-black-opacity;
                color: $color-white;
                border-radius: 10px;
                padding: 30px 80px;
                box-sizing: border-box;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                .slides__contenido__titulo {
                    font-size: $fuente-big;
                    margin: 5px;
                }
                .slides__contenido__texto {
                    font-size: $fuente-titulo;
                    margin: 5px;
                }
                .slides__contenido__link {
                    margin: 5px;
                    display: block;
                    width: 50%;
                    background-color: $primary-color-opacity;
                    color: $color-white;
                    border-radius: 5px;
                    padding: 10px;
                    transition: all 0.3s;
                }
                .slides__contenido__link:hover {
                    background-color: $primary-color;
                    transform: scale(1.05);
                }
            }
        }
    }
    .scrollable {
        *zoom: 1;
        position: relative;
        top: 0;
        left: 0;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        height: 100%;
    }
    .scrollable:after {
        content: "";
        display: table;
        clear: both;
    }
    .slides-navigation {
        margin: 0 auto;
        position: absolute;
        z-index: 3;
        top: 50%;
        width: 100%;
    }
    .slides-navigation a {
        position: absolute;
        display: block;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        font-size: $fuente-titulo;
        background: $primary-color-opacity;
        color: $color-white;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
    }
    .slides-navigation .next {
        margin-right: 5px;
    }
    .slides-navigation .prev {
        margin-left: 5px;
    }
    .slides-navigation a:hover {
        background: $primary-color;
    }
    .slides-navigation a.prev {
        left: 0;
    }
    .slides-navigation a.next {
        right: 0;
    }
    .slides-pagination {
        position: absolute;
        z-index: 3;
        bottom: 0;
        text-align: center;
        width: 100%;
        a {
            border: 3px solid #fff;
            border-radius: 15px;
            width: 15px;
            height: 15px;
            display: -moz-inline-stack;
            display: inline-block;
            vertical-align: middle;
            *vertical-align: auto;
            zoom: 1;
            *display: inline;
            background: rgb(0, 0, 0, 0);
            margin: 10px;
            overflow: hidden;
            text-indent: -100%;
            margin-bottom: 50px;
            transition: all 0.5s;
        }
        a.current {
            background: #2fc4b2;
            width: 50px;
            border-radius: 0px;
            border: none;
            height: 5px;
            margin-top: 20px;
        }
    }
}