/*Estilos del menu y navegador*/

.main-header {
    width: 100%;
    position: fixed;
    height: $header;
    top: 0;
    z-index: 2000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
}

.icon-menu {
    display: none;
    color: $color-white;
    cursor: pointer;
    font-size: 30px;
    margin-right: 10px;
}

.logo {
    display: flex;
    align-items: center;
    .logo__img {
        height: $header;
        width: $header;
    }
    .logo__texto {
        color: $color-white;
        font-size: $fuente-logo;
        margin-left: 5px;
    }
}

.menu {
    position: relative;
    display: flex;
    transition: all 0.5s;
    .menu__content {
        display: flex;
    }
    .menu__item {
        list-style: none;
        display: flex;
        align-items: center;
    }
    .menu__link {
        height: $header;
        padding: 0 30px;
        display: flex;
        align-items: center;
        font-weight: $densidad-bold;
        font-size: $fuente-texto;
        color: $color-white;
        transition: all 0.1s;
    }
    .menu__link:hover,
    .select {
        background-color: $color-black-opacity;
    }
}

@media screen and (max-width: 760px) {
    .icon-menu {
        display: block;
    }
    .menu {
        position: absolute;
        top: $header;
        left: -100%;
        width: 100%;
        .menu__content {
            flex-direction: column;
            width: 100%;
            .menu__item {
                width: 100%;
            }
            .menu__link {
                width: 100%;
                padding: 0;
                height: 50px;
                padding-left: 50px;
                color: $primary-color;
                background-color: $color-white;
                font-weight: $densidad-normal;
                border-bottom: 1px solid $border-color-opacity;
            }
            .menu__link:hover,
            .select {
                background-color: $primary-color;
                color: $color-white;
            }
        }
    }
    .mostrar {
        left: 0;
    }
}