@import "formulario";
.informacion {
    font-size: $fuente-texto;
    .parrafo__informacion {
        text-align: justify;
        margin: 10px 0;
        .link__informacion {
            color: $primary-color;
        }
    }
    .img__informacion {
        width: 100%;
        height: 350px;
        object-fit: cover;
    }
}