@import "../mixin";
main {
    .container {
        width: 90%;
        margin: auto;
        .grupo {
            padding: 10px 0;
            @import "../grupo__titulo";
            .grupo__contenido {
                padding: 20px 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                width: 100%;
                .columna {
                    @include crea-caja;
                    text-align: center;
                    transition: all 0.2s;
                    .columna__titulo {
                        margin: 10px;
                        font-size: $fuente-subtitulo;
                        font-weight: $densidad-bold;
                    }
                    .columna__texto {
                        margin: 10px;
                    }
                    .portaforlio__img {
                        width: 100%;
                        height: 350px;
                        display: block;
                        .columna__img {
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .columna:hover {
                    @include crea-caja-hover();
                }
            }
        }
    }
}